:root {
  font-family: 'Inter', system-ui, sans-serif;
  background-color: #f3f4f6; /* Ton gris préféré */
  color: #1f2937; /* Un anthracite doux plutôt que noir pur */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}